
<section>
  <div class="container">
    <div class="row">
        <div class="decks">
      <div class="main_mix_content text-center sections">
        <div class="head_title text-center">
            {{#if demo}}
                <h1>So, you wanna take this for a test run? Great!</h1>
                <p>Please follow these steps before starting:</p>
                <ol style="list-style-position: inside;">
                    <li>Open another browser <a href="/demo/selector" target="_blank">here</a></li>
                    <li>Select the <strong>SAME</strong> card deck in each browser.</li>
                    <li>Once <strong>BOTH browsers</strong> have the deck open, enter a name into each one and click Start Game.</li>
                </ol>
                <p> <em>Note: If you don't follow these instructions in order, it will not operate correctly.</em></p>
            {{/if}}
          <h2 class="title">Choose Your Flashcard Deck</h2>
          <div class="separator"></div>
        </div>
        <div class="card-deck">
          <div class="card">
            <img class="card-img-top" src="/imgs/biology.png" alt="Biology">
            <div class="card-body">
              <h5 class="card-title">Biology</h5>
              <p class="card-text">Deck covering Biology topics</p>
              <a href="/biology" class="btn btn-primary btn-block">Biology Deck</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/imgs/physics.png" alt="Physics Formula">
            <div class="card-body">
              <h5 class="card-title">Physics</h5>
              <p class="card-text">Deck covering Physics topics</p>
              <a href="/physics" class="btn btn-primary btn-block">Physics Deck</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/imgs/history.png" alt="Mount Rushmore">
            <div class="card-body">
              <h5 class="card-title">American History</h5>
              <p class="card-text">Deck covering American History topics</p>
              <a href="/history" class="btn btn-primary btn-block">American History Deck</a>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="/imgs/cs.png" alt="Computer with Code">
            <div class="card-body">
              <h5 class="card-title">Computer Science</h5>
              <p class="card-text">Deck covering Computer Science topics</p>
              <a href="/computerScience" class="btn btn-primary btn-block">Computer Science Deck</a>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

